app-card-deck {
  position: absolute;
  right: 0;
}

app-field {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

app-action {
  bottom: 0;
  position: absolute;
  right: 0;
}
