/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
}

body {
  align-items: center;
  background-color: green;
  display: flex;
  flex-direction: column;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
